<h1><%=@team.name%></h1>
 with 
<%=@team.tech_stack%>
<hr>
<h1>Add Users</h1>

<div>
    <%= form_with url: "/teams/#{params[:id]}/search", method: :get do |form| %>
        <%= form.label :query, "Search for:" %>
        <%= form.text_field :query %>
        <%= form.submit "Search" %>
    <% end %>
</div>
